body {
 margin: 0px;
 font-family: Arial, Helvetica, sans-serif;
}

.section1 {
 background-color: blue;
 color: white;
 display: flex;
 flex-direction: row;
 align-items: center;
}

input [type='email'] {
 padding: 5px 25px;
 border: 0px;
 border-radius: 10px;
}

input [type='button'] {
 padding: 5px 25px;
 border: 0px;
 border-radius: 10px;
}

.headline1 {
 font-size: 40px;
}

.section2 {
 display: flex;
}